.main {
    background-image: url('./bgc7.jpg') !important;
    background-color: #111;
    height: 100vh;
}

.Container {
   background-color: rgba(0,0,0,0.5) !important;
   backdrop-filter: blur(10px);
    width:60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.ui.labeled.button:not([class*="left labeled"])>.label {
    background-color: #54c8ff;
}

.segment {
    background-color: rgba(0,0,0,0.0) !important;
}

.ui.segment-blur {
    background: rgba(0,0,0,0.0) !important;
    border: none !important;
}

.ui.form .field>label {
    color: white !important;
}

.line {
    width:5px;
}

.line1 {
    width:15px;
}
.mainStuff {
    width:60%;
    height:90%;
    margin-top:30px;
}

.Slider {
    display:flex;
    justify-content: center;
    margin-top:20px;
}



