.container{
    
    background-color: #111;
    height: 100vh;
}

.Container {
   background-color: rgba(0,0,0,0.4);
   backdrop-filter: blur(10px);
    width:60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.line {
    width:5px;
}

.line1 {
    width:15px;
}
.mainStuff {
    width:60%;
    height:90%;
    margin-top:30px;
}

.Slider {
    display:flex;
    justify-content: center;
    margin-top:20px;
}



